@inherits Umbraco.Web.Mvc.UmbracoViewPage<CookieNotification>

@if (Model.IsEnabled)
{
    <script>
        window.amplify.cookieNotification = {
            title: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.CookieTitle))',
            text: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.CookieText.ToString()))',
            bgColor: '@RazorHelper.BackgroundClass(Model.BgColor.Alias)',
            textColor: '@RazorHelper.TextColorClass(Model.TextColor.Alias)',
            buttonColor: '@RazorHelper.IsColorClass(Model.ButtonColor.Alias)',
            buttonText: '@Html.Raw(HttpUtility.JavaScriptStringEncode(Model.ButtonText))',
            display: @Model.IsEnabled.ToString().ToLower()
        };
    </script>
    <div id="amplify-cookie"></div>
}