@inherits  Amplify.Web.Custom.ViewPages.AmplifyViewPage<Articles>
@using Amplify.Web.Custom.Extensions;

@{
    Layout = "master.cshtml";

    var articles = Model.Children.Select(x => new Article(x)).OrderByDescending(x => x.DisplayDate).ToList();

    var tag = Request.QueryString["tag"]?.ToLower();

    if (tag.HasValue())
    {
        articles = articles.Where(x => x.Categories.Select(y => y.ToLower()).Contains(tag)).ToList();
    }

    const bool hasPaging = true;
    int.TryParse(Model.ItemsPerPage, out var numberOfPosts);
    var pageCount = (int)Math.Ceiling(articles.Count / (double)numberOfPosts);
    var page = SetPageNumber(pageCount);
    var pagedItems = articles.Skip((page - 1) * numberOfPosts).Take(numberOfPosts).ToList();

}

@SectionHelper.RenderSectionStart(
backgroundClass: Model.ContentBgColor?.Alias,
bgTexture: Model.ContentBgTexture?.Url(),
gradient: Model.ContentBgGradient,
textClass: Model.ContentTextColor?.Alias, 
isCentered: false,
className: "amplify-articles is-normal-top",
columnsClass: "has-margin-bottom-4",
paddingSize: "is-medium"
)

@Html.Partial($"~/Views/Partials/PageHeader.cshtml", Model)

@if (!articles.HasValue())
{
    <div class="column has-text-centered is-full">
        <p class="is-size-4">@Umbraco.GetDictionaryValue("Articles.No.Articles")</p>
    </div>
    return;
}

@if (pagedItems.Count > 0)
{

    if (tag.HasValue())
    {
        <div class="column is-12">
            <p class="is-size-4"> @Umbraco.GetDictionaryValue("Articles.Filter.By") <strong>@tag</strong></p>
        </div>
    }

    foreach (var item in pagedItems)
    {
        <div class="column @RazorHelper.ColumnClass(Model.Columns)">
            @Html.Partial($"~/Views/Partials/Blocks/Article.cshtml", item)
        </div>
    }

    if (articles.Count > numberOfPosts && hasPaging)
    {
        <div class="column is-12">
            <div class="buttons is-centered">
                @for (var i = 1; i <= pageCount; i++)
                {
                    <a class="button is-medium @(page == i ? "is-info" : "is-light")" href="@("?page=" + i)">@i</a>
                }
            </div>
        </div>
    }

}

@SectionHelper.RenderSectionEnd()

@functions {
    int SetPageNumber(int pageCount)
    {
        var page = 1;
        if (string.IsNullOrEmpty(Request.QueryString["page"]))
        {
            return page;
        }

        int.TryParse(Request.QueryString["page"], out page);
        if (page <= 0 || page > pageCount)
        {
            page = 1;
        }
        return page;
    }
}