@inherits Amplify.Web.Custom.ViewPages.AmplifyViewPage<Person>
@using Amplify.Web.Custom.Extensions
@{
    Layout = "master.cshtml";
}

@SectionHelper.RenderSectionStart(
    backgroundClass: Model.ContentBgColor?.Alias,
    bgTexture: Model.ContentBgTexture?.Url(),
    gradient: Model.ContentBgGradient,
    textClass: Model.ContentTextColor?.Alias,
    isCentered: true,
    className: "amplify-person",
    columnsClass: "has-margin-bottom-4",
    paddingSize: "is-medium"
    )
<div class="column is-6-tablet">
            <div class="amplify-card amplify-image-card card">
                @if (Model.Photo.HasValue())
                {
                    <div>
                        <figure class="image is-square">
                            @RazorHelper.ResponsiveImage(Model.Photo, Model.Name, "is-background", Model.ItemsPerRow)
                        </figure>
                    </div>
                }
                <div class="card-content content is-centered has-text-centered has-margin-bottom-5">
                    <h4 class="is-size-5 has-text-dark">@Model.Name</h4>
                    @if (Model.Position.HasValue())
                    {
                        <p class="is-italic">@Model.Position @Html.Raw("&ndash;") @Model.Location</p>
                    }

                    @if (Model.FullBio.HasValue())
                    {
                        <div class="has-margin-bottom-5 content has-margin-top-4">
                            @Model.FullBio
                        </div>
                    }
                    else if (Model.Bio.HasValue())
                    {
                        <div class="has-margin-bottom-5 content has-margin-top-4">
                            @Model.Bio
                        </div>
                    }
                    <div class="level is-mobile">
                        <div class="level-item">
                            @if (Model.Email.HasValue())
                            {
                                @RenderSocialLink($"mailto:{Model.Email}", "fas fa-envelope", Model.Email)
                            }
                            @if (Model.FacebookUsername.HasValue())
                            {
                                @RenderSocialLink($"http://facebook.com/{Model.Email}", "fab fa-facebook-f", $"@{Model.FacebookUsername}")
                            }
                            @if (Model.TwitterUsername.HasValue())
                            {
                                @RenderSocialLink($"http://twitter.com/{Model.TwitterUsername}", "fab fa-twitter", $"@{Model.TwitterUsername}")
                            }
                            @if (Model.LinkedInUsername.HasValue())
                            {
                                @RenderSocialLink($"http://linkedin.com/{Model.LinkedInUsername}", "fab fa-linkedin", $"@{Model.LinkedInUsername}")
                            }
                            @if (Model.InstagramUsername.HasValue())
                            {
                                @RenderSocialLink($"http://linkedin.com/{Model.InstagramUsername}", "fab fa-instagram", $"@{Model.InstagramUsername}")
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
@SectionHelper.RenderSectionEnd()

@helper RenderSocialLink(string href, string iconClass, string value)
{
    <a href="@href" title="@value" target="_blank" class="has-margin-left-1 has-margin-right-2 button is-link is-inverted">
        <span class="icon is-large">
            <i class="@iconClass fa-lg"></i>
        </span>
    </a>
}